@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

/* General Form Styling */
Form {
  border-bottom: 1px solid grey;
  border-radius: 3px;
  width: 400px;
  padding: 20px;
  margin: auto;
}

/* Form Heading Styling */
Form .form-heading {
  font-family: 'Archivo', sans-serif;
  text-align: center;
  font-size: 3.4em;
}

/* General Input Styling */
.form-control {
  border: none;
  font-size: 0.9em;
}

.form-control .label {
  font-size: 0.85em;
}

.form-control .input {
  width: 100%;
}

/* Radio & Checkbox Styling */
.radio-options,
.checkbox-options {
  display: inline-block;
}

.radio-labels,
.checkbox-labels {
  clear: none;
  display: block;
  padding: 3px 1em 0px 16px;
  font-size: 0.88em;
}

input[type='radio'],
input[type='checkbox'] {
  float: left;
  clear: none;
  margin: 5px 0 0 0px;
}

/* Text Area */
.textarea {
  resize: none;
  height: 100px;
  width: 100%;
}

/* Button */
Form button {
  margin: auto;
  background-color: #4766ef;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 150px;
  font-size: 0.9em;
}

Form button:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 1px #152140;
  transition: 0.2s;
}

Form button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
